

	<style>
/* 말풍선 */
.type-inline-block {display: inline-block;}
.style-block {color: #ffa800;cursor: pointer; display:inline-block; width:100%; height:32px; line-height:32px}
.js-mytooltip2 {width: 250px; padding: 12px 3px 3px 3px;position: absolute;background: #424c4e;color: #d2d2d2;border-radius:100px; box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.8);text-align:center;}
.js-mytooltip2:after,.js-mytooltip:before {content: " ";height: 0;position: absolute; width: 0;border: 7px solid #424c4e;}
.js-mytooltip2:before { border-width: 9px;}
.js-mytooltip2.js-mytooltip--top:after,
.js-mytooltip2.js-mytooltip--top:before {border-left-color: transparent;border-right-color: transparent;border-bottom: 0;bottom: 7px;top: auto;left: 50%;margin: 0 0 0 -7px;box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.8);}
.js-mytooltip2.js-mytooltip--top:before {bottom: 8px;margin: 0 0 0 9px;}

</style>

<div id="spin_clive" class="sk-fading-circle_s">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>

<div ng-init="clive_load()" style="display:none;" id="clive" class="animate-bottom">
			
		<div class="game_center_wrap">
		    <div class="live_tab_wrap">
				<div class="live_tab_table">
					<div class="live_row">
						
						<a href="#" ng-click="selectSport('center_live.html',0)" ng-class="{live_tab_on:tabSId=='0',live_tab:tabSId != '0'}" >
							<span class="live_tab_text">전체종목</span><span class="live_tab_count"> {{LMK.length }}</span>
						</a>									
						
						<a href="#" ng-click="selectSport('center_live.html',sp[0].SId)" ng-class="{live_tab_on:tabSId == sp[0].SId,live_tab:tabSId != sp[0].SId}" ng-repeat="sp in LMK | groupBy:'SId'">
						<span>										
								<span class="live_tab_text">{{sp[0].SN}}</span>
								<span class="live_tab_count">{{sp.length}}</span>										
						</span>
						</a>
		
					</div>
				</div>
			</div>
			
		<table ng-show= "LMK.length==0" class="example_table_1" cellpadding="0" cellspacing="0">
			<tr>
				<td width="100%" align="center" style="padding:15px 0 15px 0"> 현재 진행중인 경기가 없습니다.
				</td>
			</tr>
		</table>
		
			<div class="live_wrap">
				
				<v-accordion class="vAccordion--default" multiple >								
					<v-pane expanded="true" ng-if="tabSId == lm[0].SId || tabSId == 0"  ng-repeat="lm in LMK | orderBy:['SId','RId','CId','MId'] | groupBy:'SId'">         	
						<v-pane-header> 
						<!--	<div class="accordion-header_1B">
							{{lm[0].SName}} ({{lm.length}})</div>
							 </v-pane-header>			
						-->
						<table class="live_table" cellpadding="0" cellspacing="0" >
										<tr>
											<td class="live_table_t_1" colspan="8"> <span class="live_tab_text_1">{{lm[0].SN}} ({{lm.length}})</span> <!--<span class="live_tab_count_l">{{lm.length}}</span> --></td>  
											<td class="live_table_t_1" width="9%">승</td>
											<td class="live_table_t_1" width="9%">무</td>
											<td class="live_table_t_1" width="9%">패</td>
											<td class="live_table_t_2" ng-class="{'open' : $pane.isExpanded() }" width="7%">더보기</td>
										</tr>
									</table>	
									
							 </v-pane-header>									
							<v-pane-content expanded="true" ng-show="true">

									<v-pane expanded="true" ng-repeat="sp in lm | orderBy:['SId','RId','CId','MId']">          							
    								<v-pane-header ng-show="false"></v-pane-header>							
											<v-pane-content expanded="true">															
												
													<div ng-switch="(LS|filter:{MId:sp.MId})[0].Sus"> <!-- match suspended -->
										
														<div ng-switch-when="true">
															
															<table class="live_table" cellpadding="0" cellspacing="0" >
																<tr>
																	<td  class="live_0_0" onmouseover="CBg(this)" onmouseout="RBg(this)">
																		<a href="#" ng-click="us(sp.MId)">
																			<i ng-if="(favMatch|filter:{Id:sp.MId})[0].SId == undefined" id="{{sp.MId}}" class="fa fa-star-o"></i>
																			<i ng-if="(favMatch|filter:{Id:sp.MId})[0].SId !== undefined" id="{{sp.MId}}" class="fa fa-star"></i>
																		</a> 
																	</td>	
																	<td class="live_0_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-bind="(periodName|where:{Id:sp.SId,P:sp.Pe})[0].KN">
																	</td>																				
																	<td class="live_1_1" onmouseover="CBg(this)" onmouseout="RBg(this)">																					  	
																		<div ng-if="sp.Rem" ng-bind="'남은 시간 '+ sp.Rem.substring(3,8)"> </div>	
																		<div ng-if="sp.Cur" ng-bind="'진행 시간 '+ sp.Cur+'분' "> </div>		
																		<div ng-if="sp.Rem.length < 1 && sp.Cur.length < 1" ng-bind="'진행중' "> </div>																																					 
																	</td>
																	<td class="live_2_1" onmouseover="CBg(this)" onmouseout="RBg(this)">												
																		 <div>  
																		<!-- <div class="js-mytooltip2 type-inline-block style-block style-block-one" data-mytooltip-custom-class="align-center" data-mytooltip-template="이탈리아 > 세리에 A">-->
																			{{sp.HTS}} - {{sp.ATS}} 
																		</div>
																	</td>
																	<td class="live_3_1" onmouseover="CBg(this)" onmouseout="RBg(this)"><span ng-bind="sp.CN.substring(0,20)"></span></td>
																	
																	<td class="live_4_1_1" onmouseover="CBg(this)" onmouseout="RBg(this)">{{sp.HT.substring(0,20)}}</td>																				
																	<td class="live_4_1_2" onmouseover="CBg(this)" onmouseout="RBg(this)">vs</td>																					
																	<td class="live_4_1_3" onmouseover="CBg(this)" onmouseout="RBg(this)">{{sp.AT.substring(0,20)}}</td>	
																																																														
																	<td width="9%" class="live_5_2"><i class='fa fa-fw fa-lock'></i></td>																				
																	<td width="9%" class="live_6_2"><i class='fa fa-fw fa-lock'></i></td>																				
																	<td width="9%" class="live_7_2"><i class='fa fa-fw fa-lock'></i></td>								
																													
																	<td width="7%" class="live_8_1"><i class='fa fa-fw fa-lock'></i></td>
																</tr>
															</table>
																
    												</div>
											
														<div ng-switch-default>		
																															
															<div ng-switch="sp.Sus || !sp.Vis"> <!-- market suspended -->			
																														
																<div ng-switch-when="true">	
																	
																	<table class="live_table" cellpadding="0" cellspacing="0" >
																		<tr>
																			<td  class="live_0_0" onmouseover="CBg(this)" onmouseout="RBg(this)">
																				<a href="#" ng-click="us(sp.MId)">
																					<i ng-if="(favMatch|filter:{Id:sp.MId})[0].SId == undefined" id="{{sp.MId}}" class="fa fa-star-o"></i>
																					<i ng-if="(favMatch|filter:{Id:sp.MId})[0].SId !== undefined" id="{{sp.MId}}" class="fa fa-star"></i>
																				</a> 
																			</td>	
																			<td class="live_0_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)" ng-bind="(periodName|where:{Id:sp.SId,P:sp.Pe})[0].KN">
																			</td>																				
																			<td class="live_1_1" onmouseover="CBg(this)" onmouseout="RBg(this)"  ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">																					  	
																				<div ng-if="sp.Rem" ng-bind="'남은 시간 '+ sp.Rem.substring(3,8)"> </div>	
																				<div ng-if="sp.Cur" ng-bind="'진행 시간 '+ sp.Cur+'분' "> </div>
																				<div ng-if="sp.Rem.length < 1 && sp.Cur.length < 1" ng-bind="'진행중' "> </div>																		 
																			</td>
																			<td class="live_2_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">
																				<!-- <div class="js-mytooltip2 type-inline-block style-block style-block-one" data-mytooltip-custom-class="align-center" data-mytooltip-template="이탈리아 > 세리에 A">-->
																				<div>
																					{{sp.HTS}} - {{sp.ATS}} 
																				</div>
																			</td>																			
																			<td class="live_3_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)"><span ng-bind="sp.CN.substring(0,20)"></span></td>		
																																				
																			<td class="live_4_1_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">{{sp.HT.substring(0,20)}}</td>																				
																			<td class="live_4_1_2" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">vs</td>																					
																			<td class="live_4_1_3" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">{{sp.AT.substring(0,20)}}</td>		
																																						
																			<td width="9%" class="live_5_2"><i class='fa fa-fw fa-lock'></i></td>																				
																			<td width="9%" class="live_6_2"><i class='fa fa-fw fa-lock'></i></td>																				
																			<td width="9%" class="live_7_2"><i class='fa fa-fw fa-lock'></i></td>						
																																	
																			<td width="7%" class="live_8_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">+ {{ (LMKc|filter:{M:sp.MId,S:false,V:true}).length }}&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/arrow_right.png"></td>
																		</tr>
																	</table>
																																	
																</div>
																
																<div ng-switch-default>
																	
																	<table class="live_table" cellpadding="0" cellspacing="0" >
																		<tr>
																			
																			<td  class="live_0_0" onmouseover="CBg(this)" onmouseout="RBg(this)">
																				<a href="#" ng-click="us(sp.MId)">
																					<i ng-if="(favMatch|filter:{Id:sp.MId})[0].SId == undefined" id="{{sp.MId}}" class="fa fa-star-o"></i>
																					<i ng-if="(favMatch|filter:{Id:sp.MId})[0].SId !== undefined" id="{{sp.MId}}" class="fa fa-star"></i>
																				</a> 
																			</td>																				
										
																			<td class="live_0_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)" ng-bind="(periodName|where:{Id:sp.SId,P:sp.Pe})[0].KN">
																			</td>	
																			<td class="live_1_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">
																				  	
																				<div ng-if="sp.Rem" ng-bind="'남은 시간 '+ sp.Rem.substring(3,8)"> </div>	
																				<div ng-if="sp.Cur" ng-bind="'진행 시간 '+ sp.Cur+'분' "> </div>
																				<div ng-if="sp.Rem.length < 1 && sp.Cur.length < 1" ng-bind="'진행중' "> </div>
																				 
																			</td>
																			<td class="live_2_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">
																				<!-- <div class="js-mytooltip2 type-inline-block style-block style-block-one" data-mytooltip-custom-class="align-center" data-mytooltip-template="이탈리아 > 세리에 A">-->
																				<div>
																					{{sp.HTS}} - {{sp.ATS}} 
																				</div>
																			</td>
																			<td class="live_3_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)"><span ng-bind="sp.CN.substring(0,20)"></span></td>
																			
																			<td class="live_4_1_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">{{sp.HT.substring(0,20)}}</td>																				
																			<td class="live_4_1_2" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">vs</td>																					
																			<td class="live_4_1_3" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">{{sp.AT.substring(0,20)}}</td>	
																																						
																			<!-- <td width="9%" class="live_5_1" 	>  -->
																			<td width="9%" class="live_5_1" ng-class="{'sel' : (bet|where:{Sd:sp.W1SD}).length>0}" ng-click="addBet(sp.W1SD,sp.MkId,'승무패',sp.HT,sp.HT,sp.AT,sp.W1P,sp.BW1P,sp.MId)">
																				<div ng-show="parseFloat(sp.BW1P)<parseFloat(sp.W1P)"><i class="fa fa-fw fa-chevron-up" style="color:green"></i><span class="font_002">{{sp.W1P}}</span><i class="sel_old">(<del>{{sp.BW1P}}</del>)</i> </div>
																				<div ng-show="parseFloat(sp.BW1P)>parseFloat(sp.W1P)"><i class="fa fa-fw fa-chevron-down" style="color:red"></i><span class="font_002">{{sp.W1P}}</span><i class="sel_old">(<del>{{sp.BW1P}}</del>)</i> </div>
																				<div ng-show="parseFloat(sp.BW1P)==parseFloat(sp.W1P)"><span class="font_002">{{sp.W1P}}</span></div>					
																			</td>
																			
																			<td width="9%" ng-if="sp.XP=='0'" class="live_6_2">
																				<div class="font_002"> <b>-</b></div>
																			</td>
																			
																			<td width="9%" ng-if="sp.XP!= '0'" class="live_6_1" ng-class="{'sel' : (bet|where:{Sd:sp.XSD}).length>0 }" ng-click="addBet(sp.XSD,sp.MkId,'승무패','무승부',sp.HT,sp.AT,sp.XP,sp.BXP,sp.MId)">
																				<div ng-show="parseFloat(sp.BXP)<parseFloat(sp.XP)"><i class="fa fa-fw fa-chevron-up" style="color:green"></i> <span class="font_002">{{sp.XP}}</span> <i class="sel_old">(<del>{{sp.BXP}}</del>)</i> </div>								
																				<div ng-show="parseFloat(sp.BXP)>parseFloat(sp.XP)"><i class="fa fa-fw fa-chevron-down" style="color:red"></i> <span class="font_002">{{sp.XP}}</span> <i class="sel_old">(<del>{{sp.BXP}}</del>)</i> </div>	
																				<div ng-show="parseFloat(sp.BXP)==parseFloat(sp.XP)" ng-if="sp.XP !='0'"> <span class="font_002">{{sp.XP}}</span></div>		
																			</td>
																			
																			<td width="9%" class="live_7_1" ng-class="{'sel' : (bet|where:{Sd:sp.W2SD}).length>0}" ng-click="addBet(sp.W2SD,sp.MkId,'승무패',sp.AT,sp.HT,sp.AT,sp.W2P,sp.BW2P,sp.MId)">
																				<div ng-show="parseFloat(sp.BW2P)<parseFloat(sp.W2P)"><i class="fa fa-fw fa-chevron-up" style="color:green"></i> <span class="font_002">{{sp.W2P}}</span> <i class="sel_old">(<del>{{sp.BW2P}}</del>)</i></div>
																				<div ng-show="parseFloat(sp.BW2P)>parseFloat(sp.W2P)"><i class="fa fa-fw fa-chevron-down" style="color:red"></i> <span class="font_002">{{sp.W2P}}</span> <i class="sel_old">(<del>{{sp.BW2P}}</del>)</i></div>
																				<div ng-show="parseFloat(sp.BW2P)==parseFloat(sp.W2P)"> <span class="font_002">{{sp.W2P}}</span></div>																					     	
																			</td>
																			
																			<td width="7%" class="live_8_1" onmouseover="CBg(this)" onmouseout="RBg(this)" ng-click="goMatchMarket('center_market.html',sp.SId,sp.MId)">+ {{ (LMKc|filter:{M:sp.MId,S:false,V:true}).length }} &nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/arrow_right.png"></td>
																		</tr>
																	</table>
															
																</div>	  	
															</div>
														</div>
														
													</div>
  												
											</v-pane-content>
									</v-pane>
							</v-pane-content>
					</v-pane>
				</v-accordion>
							
			</div>
		</div>
		
</div>


<script type="text/javascript">
var NColor= "#222627";
var CColor= "#2e3334";

function CBg(row) { row.parentNode.style.backgroundColor = CColor; }
function RBg(row) { row.parentNode.style.backgroundColor = NColor }
</script>


