.input_warning{
	display: none;
}
.btn3c {
    border-radius: 5px!important;
    border: none;
}
.btn3,.top_btn1 {
	border:none!important;
}

/*datatable*/
.dataTables_wrapper .dataTables_paginate {
     float: none!important; 
    text-align: center!important;
    padding-top: 20px!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 8px 12px 8px 12px!important;
    font-size: 12px!important;
    border-radius: 3px!important;
    display: inline-block!important;
    background: #2b2d2e!important;
    color:white!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white!important;
    background: #0792c4!important;
    border:none!important;
}
.dataTables_wrapper {
    width: 100%!important;
    margin: 0 0 20px 0!important;
    border-top: solid 1px #0792c4!important;
}
table.dataTable thead th{ 
    color: white!important;
    /*background: #151516!important;*/
    /*height: 40px!important;*/
    text-align: center!important;
    border-bottom: solid 1px #000000!important;
}
table.dataTable tbody tr {
    background-color: transparent!important;
}
table.dataTable tbody td {
    padding: 0px!important ;
    text-align: center!important;
    border-bottom: solid 1px #2e3032!important;
  	height: 40px!important;
}


/*nice select*/

.nice-select{
	width: 100%!important;
    border: solid 1px #2e3032!important;
    background: none!important;
    height: 40px!important;
    line-height: 40px!important;
    padding: 0 0 0 10px!important;
    color: #c1c3c4!important;
    border-radius: 0px!important;
}
.nice-select .list{
	max-height: 300px!important;
    width: 100%!important;
    border-radius: 0px!important;
    background-color: #1c2021!important;
    /*overflow-x:hidden!important;*/
    overflow-y:auto!important;
}
.nice-select .list li{
	width: 100%!important;
    position: relative!important;
    height: 25px!important;
    min-height: 25px!important;
    line-height: 25px!important;
    border-bottom: 1px solid #292f30!important;
    background: #1c2021!important;
    text-align: left!important;
    padding: 0 10px 0 10px!important;
    cursor: pointer!important;
    background-color: !1c2!important0
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background: #252b2b!important;
}
.nice-select:hover {
    border-color: #2e3032!important;
}


/*accordion*/

.smk_accordion .acc_section.acc_active > .acc_head{
	background: #2d3232 url(/images/accordion-opened.png) no-repeat 1300px center!important;	
}
.smk_accordion .acc_section .acc_head{
	background: #2d3232  url(/images/accordion-closed.png) no-repeat 1300px center!important;
}

.smk_accordion .acc_section:only-child .acc_head {
    background: #2d3232!important;   
}

.smk_accordion li:only-child > .acc_head{
    background: none!important;    
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
	color:white;
}

/*pikaday*/
.pika-single {
    background: #303030!important;
    border: none!important; 
}
.pika-row{
	background: #303030!important;
}
.pika-label {
    background-color: #303030!important;
}
.pika-prev{
	background-image: url(../images/arrow_left.png)!important;
}
.pika-next {
	background-image: url(../images/arrow_right.png)!important;
}
.pika-prev, .pika-next {
	background-size: auto!important;
}
.pika-button {
    background: none!important;
    width: 28px!important;
	height: 28px!important;
    display: inline-block!important;
    width: 28px!important;
    height: 28px!important;
    line-height: 0px!important;
    color: #a3a3a3!important;
    text-align: center!important;
}
.is-selected .pika-button, .has-event .pika-button {
    color: #fff!important;
    font-weight: bold;
    background: #33aaff!important;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 0px!important;
}	
.pika-button:hover, .pika-row.pick-whole-week:hover .pika-button {
    border-radius: 0px!important;
    background: #3d3d3d!important;
}
.pika-lendar {
    width: 204px!important;
}
.pika-table {
    background-color: #242424!important;
    border-collapse: separate!important;
	border-spacing: 1px!important;
}
.car_table{
	min-height: 281px!important;
}
.showDatePkr,.closePikaday{
	cursor:pointer;
}


/*password css*/

@font-face {
    font-family: passfont;
    src: url(../css/font/ArialMT.woff);
}
.password, .pd{
	font-family: passfont!important;
	font-size: 14px!important;
}

/*menu*/
.select ul.top_alist li a, .select ul.top_alist li span {
    margin: 0px; display: block; width: 100%; height: 100%; 
}

/*button with class*/
button.btn5 {
    border-width: 0px!important;
}

/*exchange_Tab*/
.add-money{
	cursor: pointer;
}
.error_cash_in{
	margin:0px;
	display: none;
}
input[type="text"]:-ms-input-placeholder {
text-align: left;
}
input[type="text"]::-webkit-input-placeholder {
    text-align: left;
}
input::-moz-placeholder {
 text-align: left;
}	

/*disabled btn test*/
button.btn5:disabled {
    background: #1c2021!important;
}


/*qtips*/
.qtip{
    z-index: 99999999!important;
}

.qtip-default {
    border: 1px solid #2e3233!important;
    /*background-color: #191a1b;*/
    background-color:#2e3233!important;
    color: #404654!important;
    padding: 8px!important;
    border-radius: 8px!important;
}

.qtip-content .form1-invalid{
    color:white!important;
}


/*forms*/

.form1-valid {
    border-color:#2e3032!important;
}
.form1-invalid {
    /*border-color:#d50000!important;*/
    border-color:#ff8a00!important;
}

.header-login-valid {
    border-color: #505455!important;
}

.input_warning{
    display: none;
}