
.bg_mask_pop9{
    display:    none;
    position:   absolute;
    z-index:    10000000;
    width:      90%;
    height:     90%;
}

.bg_mask_pop9_in {
    width:          95%;
    float:          left;
    background:     #191a1b;
    border-radius:  5px;
    padding:        40px;
    height:         90%;
}

.bg_mask_pop9_in .inquiry_wrap {
    width:  100%;
    float:  left;
    height: 100%;
}

.casino_board_list li:nth-child(12),
.casino_board_list li:nth-child(15),
.casino_board_list li:nth-child(18),
.casino_board_list li:nth-child(21),
.casino_board_list li:nth-child(24),
.casino_board_list li:nth-child(27),
.casino_board_list li:nth-child(30) {margin:0}

.racing_board_list li {float:left; margin:0 40px 40px 0; width:290px;}
.racing_board_img {width:290px; height:195px; clear:both;}